body{
    margin: 0px;
    padding: 0px;
}
#main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#text{
    height: 100vh;
    width: 100%;
    background-image: url(bgimg.jpg);
    background-size: 100% 100%;
    background-position: center;
    font-family: arial black;
    font-size: 170px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 250px;
    -webkit-background-clip:text;
    color:transparent;
    transition: all 3s ease-in-out;
}
#main:hover #text{
    background-size:80% 80%;
}
#bgimg{
    height: 100vh;
    width: 100%;
    background-image: url(bgimg.jpg);
    background-size: 100% 100%;
    background-position: center;
    transform: rotateY(180deg);
    transition: all 3s ease-in-out;
}
#main:hover #bgimg{
    background-size:150% 150%;
}






